Back End/app/__pycache__/automated_task_assignment.cpython-311.pyc
Back End/app/__pycache__/config.cpython-311.pyc
Back End/app/__pycache__/stats.cpython-311.pyc
Back End/app/__pycache__/status_report.cpython-311.pyc
Back End/helper/__pycache__/chatgpt.cpython-311.pyc
