# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32
NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET= ae217e3807e1f4bb04172ae39b51b5b25ea16dbc9b07a809f955ac64908bc2ef547550a870e256fe0c47a2be176ed5d73f02ea412e45aa7542a5d955619f1fcf
AZURE_AD_CLIENT_ID=fb701a0d-9811-46c5-8f92-53a79439c39f
AZURE_AD_CLIENT_SECRET=0.N8Q~CWN_aZM_qLu7o-lUdtAelSBAeRIcpWXay4
AZURE_AD_TENANT_ID=82d269d3-b878-4813-bc2c-2c3951aba368
# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers
# GITHUB_ID = Ov23liDRQIZ5eEruDGq3
# GITHUB_SECRET = 1503e1ba117d42c44a87244e97a3ba9868741191