# Next auth https://next-auth.js.org/configuration/options
NEXTAUTH_URL=
NEXTAUTH_SECRET=
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers
GITHUB_ID=
GITHUB_SECRET=
